/* Resets */
.nav-tabs-title {
    float: left;
    padding: 10px 10px 10px 0;
    line-height: 24px;
}
.nav-tabs {
    background: transparent;
}

.form-group input[type="file"] {
    opacity: 1;
    position: static;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
}

/* Modals */
#editSliderModal, 
#newSliderModal {
    width: 100%;
}

/* Create slider */
.stack-group {
    float: left;
    position: relative;
    width: 100%;
}
.stack-group > label {
    float: left;
    position: relative;
    width: 100%;
    color: black;
    text-decoration: underline;
    font-size: 16px;
    margin-top: 20px;
    text-indent: 10px;
}
.stack-group .form-group {
    float: left;
    position: relative;
    width: 100%;
}