.requests-section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.requests-section > .title {
    float: left;
    position: relative;
    width: 100%;
	text-align:center;
}

.requests-section > .title > h2 {
    font-family: "Lobster";
    font-size: 70px;
    padding-bottom: 35px;
    color: #000;
    text-align: center;
}