.section-content .hotels-list {
    float: left;
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.section-content .hotels-list .grid-item {
    margin-bottom: 20px;  
    padding-top: 15px;
}

.section-content .hotels-list .grid-item > .wrapper {
    float: left;
    position: relative;
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
	background-color: beige;
}

.section-content.hotels-list .grid-item:hover .image {
    transform: scale(1.1) !important;
    -moz-transform: scale(1.1) !important;
    -webkit-transform: scale(1.1) !important;
    -o-transform: scale(1.1) !important;
    -ms-transform: scale(1.1) !important;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

.section-content .hotels-list .grid-item .image,
.section-content.hotels-list .grid-item .title,
.section-content .hotels-list .grid-item .description{
    float: left;
    position: relative;
    width: 100%;
}

.section-content .hotels-list .grid-item .title h3 {
    text-align: center;
    font-family: "Lobster";
    color: #10b4ea;
}

.section-content .hotels-list .grid-item .breed > p {
    text-align: center;
    font-size: 22px;
}

.section-content .hotels-list .grid-item .age > p {
    text-align: center;
    font-size: 22px;
}

.section-content .hotels-list .grid-item .dates > p {
    text-align: center;
    font-size: 22px;
}

.section-content.hotels-list .grid-item .image {
    width: 100%;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}